.header {
  background-color: #4b367c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 40px;
  height: 40px;
}

.logo {
  width: 40px;
}

.left-options {
  display: flex;
  list-style-type: none;
}

.items, .logo-wrapper, .search-form{
  margin: 0 .5rem;
}

.items > a {
  font-size: .85rem;
  color: #7d81ad;
  text-decoration: none;
}

.search-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.glyph {
  /* height: 20px; */
  padding: .5rem;
  position: relative;
  left: 15px;
  background-color: white;
  border-radius: 5px;
}

.search-input {
  /* background-color: white;
  padding: 1rem; */
  padding-left: 12px;
  height: 20px;
  flex-grow: 1;
}

.header-right {
  margin-right: .5rem;
}


.btn {
  border-radius: 4px;
  border: none;
  width: auto;
  height: 1.8rem;
  background-color: #6441a4;
  color: white;
}