.header {
  background-color: #4b367c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
}

.left-options {
  display: flex;
  list-style-type: none;
}

.items, .logo-wrapper, .search-bar {
  margin: 0 .5rem;
}

.items > a {
  font-size: .85rem;
  color: #7d81ad;
  text-decoration: none;
}

.search-bar {
  height: 20px;
  flex-grow: 1;
}

.header-right {
  margin-right: .5rem;
}


.btn {
  border-radius: 4px;
  border: none;
  width: auto;
  height: 1.8rem;
  background-color: #6441a4;
  color: white;
}