body {
  height: 100vh;
}

.grid {
  height: 100vh;
  /* border: 10px solid #BADA55; */
  display: grid;
  grid-template-columns: 2fr 9fr 3fr;
  grid-template-rows: 55px repeat(10, 1fr); 
}

.header {
  grid-column: 1 / -1;
}

.side-bar {
  background-color: #19171c;
  grid-row: 2 / -1;
}

.live-chat {
  background-color: whitesmoke;
  grid-column: 3;
  grid-row: 2 / -1;
}